*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
body{
    background-image:url('https://cdn.discordapp.com/attachments/906865720900616237/911997394726584360/Untitled_design_1.png');
    background-size:cover;
    background-repeat: no-repeat;
}
main{
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
    padding-top: 20px;
    padding-left:30px;
}
.btn{
    border: 1px  white;
    padding: 5px 5px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 1px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background: #5B6060;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    color:#04FF85;
}

.title{
    color:white;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
.pie {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: conic-gradient(#00DCFF   24.7%, #FFD851    24.7% 45.9%, #00C809   45.9% 100%);
    margin-left: auto;
    margin-right: auto;
}
.introduction{
    color:white;
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
}


#legenda {
  margin-left: 20px;

  padding: 5px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-color {
    height: 10px;
    width: 10px;
}

.entry-text {
  margin-left: 5px;
}

#color-red {
  background-color: red;
}

#color-orange {
  background-color: orange;
}

#color-yellow {
  background-color: yellow;
}

#color-green {
  background-color: green;
}

#color-blue {
  background-color: blue;
}

#color-black {
  background-color: black;
}

#color-brown {
  background-color: brown;
}